<main class="d-flex align-items-center py-2 py-md-2">
    <div class="container">
      <div class="card login-card">
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="assets\images\pentagon.png" alt="login" class="login-card-img">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <div class="image">
                <img src="https://img.icons8.com/ios-filled/50/000000/login-as-user.png" align=left/>
              </div>

              <p class="login-card-description" style="margin-left:12%"> Login </p>
              <form >
                   
                      <input type="name" name="username" id="username" style="margin-top:10%"
                      class="form-control" placeholder="Username" [(ngModel)] = "username" required>
                      <br>
                   
                  
                      <input type="password" name="password" id="password"  
                      class="form-control"  placeholder="********" [(ngModel)] = "password" required>
                   
                      <br>
                  <input name="login" type="submit" id="login" style="background-color: #911d1d"class="btn btn-block login-btn mb-4" (click)="loginUser()" value="Login" >
                
                </form>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </main>