
body {
    font-family: "Karla", sans-serif;
    background-color: #d0d0ce;
    min-height: 100vh; }
  
  .brand-wrapper {
    margin-bottom: 19px; }
    .brand-wrapper .logo {
      height: 37px; }

.login-card {
    border: 0;
    border-radius: 27.5px;
    box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
    overflow: hidden; }
    .login-card-img {
      border-radius: 0;
      position: absolute;
      widows: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
    .login-card .card-body {
      padding: 60px 60px 60px; }
      @media (max-width: 422px) {
        .login-card .card-body {
          padding: 35px 24px; } }
    .login-card .image{
      margin-bottom: 14px;
      margin-right: 14px;
    }
    .login-card-description {
      font-size: 30px;
      color: #000;
      font-weight: bold;
      margin: 15px;
       }
    .login-card form {
      max-width: 326px; 
     }
     .login-card .error-description{
       font-size: small;
       color: red;

     }
     .login-card input.ng-invalid{
      border-left: 5px solid red;
    }
    .login-card input.ng-valid{
      border-left: 5px solid green;
    }
    .login-card .form-control {
      border: 1px solid #d5dae2;
      padding: 15px 25px;
      margin-top: 15px;
    
      min-height: 45px;
      font-size: 13px;
      line-height: 15px;
      font-weight: normal; }
      .login-card .form-control::-webkit-input-placeholder {
        color: #919aa3; }
      .login-card .form-control::-moz-placeholder {
        color: #919aa3; }
      .login-card .form-control:-ms-input-placeholder {
        color: #919aa3; }
      .login-card .form-control::-ms-input-placeholder {
        color: #919aa3; }
      .login-card .form-control::placeholder {
        color: #919aa3; }
    
    .login-card .login-btn {
      padding: 13px 20px 12px;
      background-color: #000;
      border-radius: 4px;
      font-size: 17px;
      font-weight: bold;
      line-height: 20px;
      color: #fff;
      margin-bottom: 24px;
    margin-top: 20px; }
      .login-card .login-btn:hover {
        border: 1px solid #000;
        background-color: transparent;
        color: #000; }