
<!--div class="container row" class="breadcrumb">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#" style="color:brown; font-weight:bold">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page" style="color:#0b0c10" >Trade History</li>
  </ol>
</nav>
</div-->
<div class="jumbotron jumbotron-fluid" >
  <div class="container row">
    <h1 class="display-1" style="font-size:180%">Trade History</h1>
  </div>
</div>

<!-- Trade History table, it hides when there is no stocks -->
<div *ngIf="Stocks.length !== 0" class="fix" style="margin-top:1%" >
	<div class="col" >
	  <table class="table table-hover">
		<thead>
		  <tr>
			<th scope="col">Transaction Id</th>
			<th scope="col">Stock Ticker</th>
			<th scope="col">Date</th>
			<th scope="col">Price</th>
			<th scope="col">Volume</th>
			<th scope="col">Invested Amount</th>
            <th scope="col">Buy or Sell </th>
			<th scope="col">Status </th>
		  </tr>
		</thead>
		<tbody>
		  <tr *ngFor="let stock of combinedArray">
			<td>{{stock.id}}</td>
			<td>{{stock.stockTicker}}</td>
			<td> {{stock.date}}</td>
			<td>{{stock.price}}</td>
            <td>{{stock.volume}}</td>
			<td>{{stock.investment}}</td>
			<td>{{stock.buyOrSell}}</td>
			<td>			
			<div>
				<!-- ngSwitch syntax 1 - Shortcut syntax, Angular puts branches inside ng-template tags implicitly -->
				<span [ngSwitch]="stock.statusCode">
					<span *ngSwitchCase='0' style="color:black">Initial State</span>
					<span *ngSwitchCase='1' style="color:#fc6f03">Processing</span>
					<span *ngSwitchCase='2' style="color:green">Successful</span>
					<span *ngSwitchCase='3' style="color:red">Failed</span>
					<span *ngSwitchDefault>Status Unavailable</span>
				</span>
			</div>
			</td>

			<!--td>
			  <a [routerLink]="['/buy-order/']" class="btn btn-primary btn-sm float-right">Add New</a>&nbsp;
			  <a [routerLink]="" (click)="deleteStock(stock.id)" class="btn btn-danger btn-sm float-right">Delete</a>
			</td-->

		  </tr>
		</tbody>
	  </table>
	</div>
</div>

