<div class="jumbotron jumbotron-fluid" >
  <div class="container row">
    <h1 class="display-1" style="font-size:180%">Buy Stocks</h1>
    <p class="lead">Place your stock order here!</p>
  </div>
</div>
<div class="col-md-12" >
	<div class="form-group row">
  <div class="form-group row input-group-prepend">
    <label class="control-label col-md-12" for="inputGroupSelect01">Choose your Stock</label>
  </div> 
  <input (change)='onOptionsSelected(stockDetails.stockTicker)' class="form-control col-md-12" id="inputGroupSelect01" list="datalistOptions" [(ngModel)]="stockDetails.stockTicker" placeholder="Type to search...">
    <datalist id="datalistOptions">
    <option *ngFor="let data of Data1" value = {{data.symbol}}>{{data.name}} </option>
  </datalist>
	<div class="form-group row">
	  <label class="control-label col-md-12">Price</label>
	</div>
	<div class="col" style="margin-top:2%;">
      	{{value}}

	<div class="form-group row">
	  <label class="control-label col-md-12">Date</label>
	</div>
	<div class="col" style="margin-top:2%;">
      	{{date}}
  	
	<div class="form-group row">
	  <label class="control-label col-md-12">Volume</label>
	  <input type="number" min="0" [(ngModel)]="stockDetails.volume" class="form-control">
	</div>

	

	<div class="form-group">
	  <button class="btn btn-success btn-lg btn-block"  (click)="confirmAction()"   style="margin-top:2%;">Buy Now</button>
	</div>
	</div>

