<p>stock-ticker-list works!</p>


<div *ngIf="Data1.length !== 0">
	<div class="col-md-12">
	  <table class="table table-bordered">
		<thead>
	
          <tr>
			<th scope="col">Symbol</th>
			<th scope="col">Ticker Name</th>
           <th scope="col">Country</th>
			<th scope="col">Industry</th>
		  </tr>
		</thead>
		<tbody>
       
          <tr *ngFor="let data of Data1">
			<td>{{data.symbol}}</td>
			<td>{{data.name}}</td>		
            <td>{{data.country}}</td>
            <td>{{data.industry}}</td>

			
		  </tr>
		</tbody>
	  </table> 
<!-- 
	<div class="container">
		<div class="row">
	    <form class="col-md-4">
	        <label>Select</label>
	        <select class="form-control select2">

			   <option *ngFor="let data of Data1">{{data.name}} </option>
			
	        </select>
	    </form>
 	</div>-->
</div>

	
</div>
