<div class="about-section">
  <h1>About Us : Pentagon</h1>
  <p>We are some tech-enthusiasts just diving in the Stock Market investments</p>
  <p>Also we aare newbies recruited in Citi-Pune </p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Bhakti Kolwadkar</h2>
        <p class="title">Developer</p>
        <p>Also is the reason this system looks cool to you now!</p>
        <p>bhakti.k@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Shiwani Bayas</h2>
        <p class="title">Developer</p>
        <p>So perseverant that stays up till 5am to make work!</p>
        <p>shiwani.b@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Sumit Kanu</h2>
        <p class="title">Developer</p>
        <p>This pal works harder on weekends while everyone else chills!</p>
        <p>sumit.k@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Aakarsh Goel</h2>
        <p class="title">Developer</p>
        <p>Dedication level Ultra Pro Max!</p>
        <p>aaksarsh.g@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Aditi Patil</h2>
        <p class="title">Developer</p>
        <p>Learner Observer...</p>
        <p>aditi.p@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>



</div>