<div class="jumbotron jumbotron-fluid" >
  <div class="container row">
    <h1 class="display-1" style="font-size:180%">Sell Stocks</h1>
    <p class="lead">Sell your stocks here!</p>
  </div>

<div class="col-md-12">
	<div class="form-group row">
  <div class="form-group row input-group-prepend">
    <label class="control-label col-md-12" for="inputGroupSelect01">Choose your Stock</label>
  </div >
  <input (change)='onOptionsSelected(stockDetails.stockTicker)' class="form-control col-md-12" id="inputGroupSelect01" list="datalistOptions" [(ngModel)]="stockDetails.stockTicker" placeholder="Type to search...">
    <datalist id="datalistOptions">  
    <option *ngFor="let data of holdings" value = {{data.stockTicker}}>{{data.stockTicker}} </option>
 </datalist>

	<div class="form-group row">
	  <label class="control-label col-md-12">Price</label>
	  <div class="col" style="margin-top:2%;">
      	{{value}}
    </div>

	<div class="form-group row">
	  <label class="control-label col-md-12">Date</label>
	  <div class="col" style="margin-top:2%;">
      	{{date}}
    </div>
	  <!--<input type="text" [(ngModel)]="stockDetails.price" class="form-control">-->
	</div>

	<div class="form-group row">
	  <label class="control-label col-md-12">Volume</label>
	  <input type="number" min="0" [(ngModel)]="stockDetails.volume" class="form-control">
	</div>

	<div class="form-group">
	  <button class="btn btn-success btn-lg btn-block"  (click)="confirmAction()" style="margin-top:2%;">Sell Now</button>
	</div>
</div>
