<div class="jumbotron jumbotron-fluid" >
  <div class="container row">
    <h1 class="display-1" style="font-size:180%">Analyse Stocks</h1>
  </div>
</div>
<div class="col-md-12" >
	<div class="form-group row">
  <div class="form-group row input-group-prepend">
    <label class="control-label col-md-12" for="inputGroupSelect01" style="margin-bottom:1%; maqrgin-top:0.5%">Choose your Stock</label>
  </div> 
  <input class="form-control col-md-12" id="inputGroupSelect01" list="datalistOptions" [(ngModel)]="stockDetails1.stockTicker" placeholder="Type to search...">
    <datalist id="datalistOptions">
    <option *ngFor="let data of Data1" value = {{data.symbol}}>{{data.name}} </option>
  </datalist>
  </div>
  </div>

  <div class="form-group row">
	  <label class="control-label col-md-12">Price</label>
	</div>
  <div>
    <input type="number" [(ngModel)]="days">Enter the number of days 
    </div>
    <button (click)="loadPrice()">Get Price</button>


<div *ngIf="price.length !== 0" class="fix">
	<div class="col-md-12">
	  <table class="table table-bordered">
		<thead>
          <tr>
			    <th scope="col">Ticker Name</th>
           <th scope="col">Price</th>
		      </tr>
		</thead>
		<tbody>
          <tr *ngFor="let item of daysData; let i=index">
            <td>{{item}}</td>
            <td>
         
				<!-- ngSwitch syntax 1 - Shortcut syntax, Angular puts branches inside ng-template tags implicitly -->
				<span [ngSwitch]="stat">
        <span *ngSwitchCase='0' style="color:green">{{price[i]}}</span>
					<span *ngSwitchCase='1' style="color:red">{{price[i]}}</span>
					<span *ngSwitchCase='2' style="color:orange">{{price[i]}}</span>
          <span *ngSwitchCase='3' style="color:black">{{price[i]}}</span>
					<span *ngSwitchDefault>Status Unavailable</span>
				</span>           
            
            </td>
		      </tr>
		</tbody>
	  </table> 
</div>
</div>