mat-toolbar {
    height: 8%;
    background: #0c0909;
    color:white;
    font-weight: 200;
    font-size: larger;
    text-align: center;
}

mat-sidenav {
    margin: 0%;
    width: 15%;
    border-right: none;
    background: #911d1d;
    color: #66fcf1;
    border-radius: 0px;
    padding: 1%;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

.content {
    height: 91%;
    border-radius: 10px;
    margin: 12px;
    margin-right: 14px;
    display: flex;
    font-size: 1.2rem;
    background: #ffffff;
    color: #000000;
    overflow:hidden;
}

mat-sidenav-container {
    height: calc(105vh - 65px);
    background-color: #fffffffb;
}

.menu-button {
    width: 100%;
    display: flex;
    border-color: rgb(228, 225, 225);
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    background-color: #911d1d;
    color: whitesmoke;
}
mat-divider{
    
    color:rgb(2, 2, 2);
    font-weight: lighter;
    margin: 3%;
}

.sidenav-content{
    font-size:120%;
}