<!--div class="col md-6" class="breadcrumb" >
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#" style="color:brown; font-weight:bold">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page" style="color:#0b0c10">Status Report</li>
  </ol>
</nav>
</div-->
<div class="jumbotron jumbotron-fluid" >
  <div class="container row">
    <h1 class="display-1" style="font-size:180%">Status Report</h1>
    <p class="lead">Your Status Report is displayed here!</p>
  </div>
</div>
<!-- Trade History table, it hides when there is no stocks -->
<div *ngIf="Stocks.length !== 0">
	<div class="col-md-12" style="margin-top: 0%; margin-left:0%">
	  <table class="table table-hover table-bordered" style="border-color:#022d61;">
		<thead class="thead-dark" style="color:black; background-color:#d4cecd">
		  <tr>
			<th scope="col">Stock Id</th>
			<th scope="col">Stock Ticker</th>
            <th scope="col"> Status Code </th>
		
		  </tr>
		</thead>
		<tbody>
		  <tr *ngFor="let stock of Stocks">
			<td>{{stock.id}}</td>
			<td>{{stock.stockTicker}}</td>
            <td>{{stock.statusCode}}</td>
			<!--td>
			  <a [routerLink]="['/buy-order/']" class="btn btn-primary btn-sm float-right">Add New</a>&nbsp;
			  <a [routerLink]="" (click)="deleteStock(stock.id)" class="btn btn-danger btn-sm float-right">Delete</a>
			</td-->
		  </tr>
		</tbody>
	  </table>
	</div>
</div>
