<div class="jumbotron jumbotron-fluid" >
  <div class="container row">
    <h1 class="display-1" style="font-size:180%">Holdings</h1>

    <p class="lead">Checkout your Stocks holdings here!</p>
  

  </div>
</div>
<div *ngIf="holdings.length !== 0" class="fix" style="margin-top:1%">

	<div class="col-md-12">
	  <table class="table table-bordered table table-hover" style="display: inline-block">
	  
		<thead>
	
          <tr>
			<th scope="col">Ticker Name</th>
           <th scope="col">Volume</th>
		   <th scope="col">Average Buying Price</th>
		   <th scope="col">Invested Amount</th>
		   <th scope="col">Current Price</th>
		   <th scope="col">Profit/Loss</th></tr>
		</thead>
		<tbody>
       
          <tr *ngFor="let data of combinedArray">
			<td>{{data.tickerName}}</td>		
            <td>{{data.volume}}</td>
			<td>{{data.buying_price}}</td>
			<td>{{data.investment}}</td>
			<td>{{data.current_price}}</td>
			<td>
			<div>
				<!-- ngSwitch syntax 1 - Shortcut syntax, Angular puts branches inside ng-template tags implicitly -->
				<span [ngSwitch]="stat">
					<span *ngSwitchCase='0' style="color:green">{{data.pandl}}</span>
					<span *ngSwitchCase='1' style="color:red">{{data.pandl}}</span>
					
					<span *ngSwitchDefault> >{{data.pandl}} </span>
				</span>
			</div>
		</td>
			 </tr>
			
		</tbody>
	  </table> 
	</div>	
</div>



<div class="row">
  <div class="column">
    <div class="card" style="width: 27rem;">
      <div class="container">
        <h2>Total investments = {{totalinvestment}}</h2></div>
    </div>
  </div>
<ejs-treemap id='container' style='display: block;' height='100px' [dataSource]='treemapData' weightValuePath='Investment'
[leafItemSettings]='leafItemSettings'>
</ejs-treemap>

